/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --accent-color: #FF0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --decor-color: #000028;
    --content-text-color: #F1B2CE;
    --content-title-color: #FF0070;
    --title-color: #DB00FF;
    --color-button: #FF0070;
    --color-button-hover: rgb(255, 0, 112, 0.4);
    --corner-color: #FF0070;
}